# Секретные ключи (КРИТИЧЕСКИ ВАЖНО)
config.py
credentials.json

# Виртуальное окружение и кэш
.venv/
__pycache__/
.idea/

# Базы данных (чтобы не отправить в интернет контакты реальных клиентов)
*.db
users.db
bot_database.db